* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Regular";
  src: url(../Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Medium";
  src: url(../Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../Roboto/Roboto-Bold.ttf);
}
footer .footer_many {
  padding: 60px 130px 50px 130px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer_many .footer_box h6 {
  color: #000;
  font-family: "Medium";
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}
footer .footer_many .footer_box ul {
  list-style: none;
}
footer .footer_many .footer_box ul li {
  margin-top: 15px;
}
footer .footer_many .footer_box ul a {
  color: #000;
  font-family: "Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.7;
}
footer .foot_botton {
  padding: 30px 130px;
  background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .foot_botton a {
  color: #FFF;
  font-family: "Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
footer .foot_botton .foot_botton-icon {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .foot_botton .foot_botton-icon button {
  color: #3C61E1;
  font-family: "Regular";
  font-size: 20px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  cursor: pointer;
}

@media (min-width: 1201px) {
  .foot_botton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  footer .footer_many {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .foot_botton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}
@media (min-width: 770px) and (max-width: 990px) {
  footer .footer_many {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .footer_many .footer_box ul a {
    font-size: 18px;
  }
  footer .foot_botton {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  footer .foot_botton .foot_botton-icon {
    display: flex;
    align-items: center;
  }
  footer .foot_botton .foot_botton-icon a {
    font-size: 18px;
  }
  footer .foot_botton .foot_botton-icon button {
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media (min-width: 448px) and (max-width: 769px) {
  footer .footer_many {
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .footer_many .footer_box ul a {
    font-size: 18px;
  }
  footer .foot_botton {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px 50px;
  }
  footer .foot_botton .foot_botton-icon {
    display: flex;
    align-items: center;
  }
  footer .foot_botton .foot_botton-icon a img {
    width: 35px;
    height: 35px;
  }
  footer .foot_botton .foot_botton-icon button {
    padding: 10px 20px;
  }
}
@media (max-width: 447px) {
  footer .footer_many {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .footer_many .footer_box ul a {
    font-size: 18px;
  }
  footer .foot_botton {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px 50px;
    text-align: center;
  }
  footer .foot_botton .foot_botton-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  footer .foot_botton .foot_botton-icon a img {
    width: 30px;
    height: 30px;
  }
  footer .foot_botton .foot_botton-icon button {
    padding: 8px 15px;
  }
}/*# sourceMappingURL=style.css.map */